
/*
    COMP213 - (SEC. 405) | Assignment 1
    Author: Mandeep Singh
    Student ID: 300858298
    Date: 16-Sep-2024
    Filename: Mandeep_Singh_Assignment1.html
    Related files: Mandeep_Singh_Assignment1.css
    & Mandeep_Singh_Assignment1.js
*/

/* General page styling */
body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #f4f4f4dd;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header styling */
header {
    padding: 20px;
    width: 100%;

}

h1 {
    margin: 0;
    font-size: 2em;
    color: white;
}

h2 {
    margin: 0;
    font-size: 1.5em;
    color: whitesmoke;
}


/* Section styling for Name */
section h3 {
    font-size: 1.3em;
    margin: 10px 0;
    color: #555;
}

intoduction {
    
    text-align: left;
    padding: 10px 40px 10px 40px;
    
}

intoduction h5 {
    font-size: 0.8em;
    margin: 5px;
    color: #555;
}


h4 {
    margin: 10px 0;
}

/* Favorite activities list */
ul {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
}

ul li {
    font-size: 1.1em;
    margin: 10px 0;
    color: #333;
    padding: 5px;
    border: 2px solid #333;
    background-color: #f9f9f9;
    width: 200px;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 10px auto;
}

/* Make the box larger on hover using CSS */
ul li:hover {
    background-color: #e1e1e1;
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}


/* Footer styling */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 0.9em;
}

/* Copyright font size */
footer p {
    margin: 0;
    font-size: 0.8em;
}
